.rb {
    color: royalblue;
}

.lb {
    color: lightblue;
}

.c {
    color: cyan;
}

.copy-code span.c {
    color: rgb(32, 127, 127) !important;
}

.g {
    color: green !important;
}

.go {
    color: gold !important;
}

.gr {
    color: goldenrod !important;
}

.m {
    color: magenta !important;
}

.pu {
    color: rgb(182, 91, 182) !important;
}

.o {
    color: orange !important;
}

.y {
    color: yellow !important;
}

.ws {
    color: whitesmoke !important;
}

.bbad {
    border: red solid 1px;
}

.bad {
    color: red
}

.line-thru {
    text-decoration: line-through red;
}

pre.copy-code .t {
    color: tomato !important;
    font-weight: 999;
}

.t {
    color: rgb(167, 61, 42) !important;
}