/* layout.css */

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.page-wrapper>nav.nav-lesson-title {
    display: flex;
    position: fixed;
    top: 4%;
    width: 80%;
    margin-top: 0%;
    z-index: 2;
}
main.main-container.collapsed {
    display: static;
}
main.main-container {
    display: flex;
    height: calc(100vh - 5vh);
    align-items: stretch;
    overflow: hidden;
}

#mainTargetDiv {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 0;
}
.inject-content-btns-container {
    display: flex;}