/* text.css */
* {
    /* font-size: 1rem; */
}
.page-header-links a {text-decoration: none;}
.page-wrapper > nav.nav-lesson-title>h1 {
    font-size: 1rem;
}
.main-landing-page>nav#nxtPrevLessonsBtns button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.side-bar>.side-bar-links-container ul {font-size: 89%;}
.side-bar ul li a {text-decoration: none;}
.nav-mode-colors a {
    font-style: bold;
    font-weight: 999;
}
.code-container {font-weight: 580;}
#navTitle {
    font-size: 80%;
}