/* main.css */
@import url('responsive.css');
@import url('dark-mode.css');
@import url('components/page-header.css');
@import url('components/side-bar.css');

/* ui */
/* @import url('ui/vid-controls.css'); */
@import url('ui/vid-cntrl-btn.css');

@import url('ui/toggle-side-bar.css');
@import url('ui/toggle-img-sizes.css?v=2');
@import url('ui/copyCode.css');
@import url('ui/popup-letterNav.css');

/* step-txt INJECT HTML PAGES */
/* @import url('step-txt/step-txt.css'); */
@import url('step-txt/layout-step-txt.css');
@import url('step-txt/position-step-txt.css');
@import url('step-txt/sizing-step-txt.css');
@import url('step-txt/spacing-step-txt.css');
/* @import url('step-txt/text-step-txt.css'); */
/* @import url('step-txt/step-vid.css'); */
/* @import url('step-txt/step-img.css'); */

/* media */
/* @import url('media/images.css'); */

/* utilities */
@import url('utilities/borders.css');

@import url('utilities/code-colors.css');
@import url('utilities/display.css');
@import url('utilities/effects.css');
@import url('utilities/sizing.css');
@import url('utilities/spacing.css');
@import url('utilities/text.css');
@import url('utilities/position.css?v=2');
@import url('utilities/layout.css');
@import url('utilities/colors.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}