/* responsive.css */

@media screen and (min-width: 751px) {

    .code-container {
        min-width: 250px;
    }

    .step-txt {
        font-size: 90%;
    }

    #darkModeBtn {
        font-size: 50%;
        max-height: 25px;
    }

    .dark-mode .side-bar {
        border-top: none !important;
        border-top: 2px solid black !important;
    }

    .collapsed #sideBarBtn {
        right: 5%;
    }
}


@media screen and (min-width: 721px) {

    .step-img.enlarge,
    .step-vid.enlarge,
    .step-img.first-vid-enlarge,
    .step-vid.first-vid-enlarge {
        transform:
            translate(-50%, -50%) scale(2.18) !important;
    }

    .step-txt>p {
        margin: 0 !important;
    }

    .page-header-links {
        display: flex;
        flex-basis: 90% !important;
    }

    .main-container>.side-bar {
        width: fit-content;
        flex-basis: 20%;
        max-width: 10%;
    }

    .imgs-container {
        align-items: center;
        justify-content: center !important;
        gap: 10%;
    }
}


@media screen and (max-width: 721px) {

    .main-container>.side-bar {
        width: 100px !important;
        min-width: 100px !important;
    }
}


@media screen and (max-width: 431px) {

    .main-container>.side-bar {
        max-width: 20%;
    }
}


@media screen and (max-width: 520px) {

    .step-vid.enlarge video {
        position: absolute;
        width: 300px;
        max-width: 600px !important;
    }
}