/* step-txt-lesson-codeColor.css */
.mainTargetDiv:active,.mainTargetDiv:focus {
    outline: none;
}   
.header-codeColor-lesson {
    padding-left: 2.5%;
}
.step-container{
    position: relative;
    z-index: 0;
}

.step {
    display: flex;
    justify-content: space-between;
}

/* .step, */
.step-float:focus{
    z-index: 100;
}
.step-float{
    position: relative;
    padding-bottom: 5%;
}
.step:active,.step:focus, 
.step-float:active,.step-float:focus{
    /* font-style: bold; */
}
.step > .step-txt{
    padding: 1%;
}
.step-float > .step-txt{
    padding: 0 2%;
}
.step-float > .step-txt > p{
    padding: 0 2%;
    margin-top: 2%;
}
.step-txt ul {
    margin-left: 3%;
}
.step-txt ul li{
    line-height: 1.5;
}
.step-float > p {
    margin: 1% 2%;
    margin-top: 2.5%;
    margin-left: 5%;
}

.step-float>.code-container {
    border: 2px solid red;
    margin-left: 2.5%;
}
.code-container {
    width: fit-content;
    background-color: white;
    margin-top: 2.5%;
    min-width: 400px;
    /* border-radius: 8px; */
}
.code-container>.copy-code {
    color: white;
    /* position: relative; */
    /* ADD THIS */
    z-index: 999 !important;
    background-color: var(--bg-primary);
    /* padding: 1.5% 5% 2% 1.2%; */
}
.clear {
    clear: both;
}
.step-img,
.step-vid {
    float: right;
    width: 45%;
    margin-top: 5%;
    /* Adjust as needed */
    margin-right: 5%;
    margin-left: 10px;
    /* z-index: 0; */
    /* Optional: adds space between console and text */
}
.step-float>.step-vid>video  {
    z-index: 0;
}

.step-img>img,
.step-vid>video {
    position: relative;
    width: 98%;
    border: 1px solid white;
    
    z-index: 0;
    transition: all 0.025s ease;
}

.step-vid{
    height: fit-content;
    overflow: hidden;
    overflow-y: scroll;
}
.step-vid>video {
    max-height: 28vh;
}