@import url('page-header.css');
@import url('./dark-mode-index.css');
@import url('footer-double-link-header.css');
@import url('page-header.css');

@import url('responsive-index.css');

/* utilies */
@import url('utitlies/borders-index.css');
@import url('utitlies/colors-index.css');
@import url('utitlies/layout-index.css');
@import url('utitlies/list-index.css');
@import url('utitlies/sizing-index.css');
@import url('utitlies/sizing-index.css');
@import url('utitlies/text-index.css');


/* @import url('ui/drop-topic-sub-resources.css'); */
*{
    margin: 0;
    padding: 0;
}
#aiLogo {
    display: block;
    box-shadow: var(--x) 0 var(--xB) var(--yB) orangered !important;
    border: 1px solid red;
    background-color: rgb(255, 69, 0, .4);
    width: 10%;
    border: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    text-shadow: -1px 1px 3px black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 999;
    font-size: 150%;
}
.hide {
    display: none;
}