/* step-txt/step-txt.css */
/* Base layers */
.step-float {
    position: relative;
}
.step-img,
.step-vid,
.copy-code,
.code-container {
    position: relative;
}
.step-txt {
    position: relative;
}
.copy-code {
    position: relative;
    /* z-index: 0 */
}

.clear {
    clear: both;
}

