/* layout-index.css */
.page-wrapper main#mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 70vh;
    margin: 0 2.5%;
    padding: 0 2.5%;
    padding-left: 0;
    scrollbar-width: none;
    overflow: hidden;
    overflow-y: scroll;
}

.topic>a.drop-topic,
.drop-sub-topic {
    display: inline-flex;
}

.topics-container {
    display: flex;
    flex-direction: column;
}

.sub-topics-container {
    display: inline-flex;
    display: flex;
    flex-wrap: wrap;
}

.sub-topics-container>.drop-parent {
    display: flex;
    flex-direction: column;
}

.drop-snips {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
}

.resource {
    display: flex;
    flex-direction: center;
    align-items: center;
}

.hide {
    display: none;
}

.show {
    display: inline-block;
}