.topic-container {
    margin: 2% 0;
}

.topics-container>.drop-down {
    padding: .5% 0;
    padding-left: 2%;
    margin-left: 2%;
}

.sub-topics-container .drop-down {
    margin-bottom: 5%;
    margin-left: -15%;
}

.topic-container>.drop-topic>img {
    margin-left: 2.5%;
}